.mes[is_user="true"] .paragraph_split_button,
.mes[is_system="true"] .paragraph_split_button {
    display: none !important;
}

.paragraph_split_button.disabled {
    opacity: 0.45;
    pointer-events: none;
}

.mes .paragraph_split_button:hover {
    filter: brightness(1.25) drop-shadow(0 0 3px #5dade2) !important;
}
