.mes[is_user="true"] .paragraph_split_button,
.mes[is_system="true"] .paragraph_split_button {
    display: none !important;
}

.paragraph_split_button.disabled {
    opacity: 0.45;
    pointer-events: none;
}

.mes .paragraph_split_button {
    color: #5dade2;
}

.mes .paragraph_split_button:hover {
    color: #85c1e9;
}
